<div class="user-card">
        <% if (username) { %>
            <span><%= username %></span>
        <% } else { %>
            <a href="/users/login">Fazer login</a>
        <% } %>
    </div>