<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <div style="display: flex; align-items: center;">
        <span style="font-size: xx-large; color: red;">Houve um erro!</span>
        <%= error %>
    </div>

</html>